/* Import other stylesheets */
/*
*
*    Variables - Colors, sizes, images etc.
*
*/
/*
*
*    Helper functions - Background gradient etc.
*
*/
/* Content Wrapper */
.content-wrapper {
  margin: 0 auto;
  /* Header */
  /* Main content */
  /* Content sizes on different devices */
}
.content-wrapper header {
  text-align: center;
  padding: 50px 0 20px 0;
}
.content-wrapper main {
  width: 94%;
  margin: 0 auto;
}
@media screen and (max-width: 819px) {
  .content-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 819px) and (max-width: 1069px) {
  .content-wrapper {
    width: 819px;
  }
}
@media screen and (min-width: 1069px) {
  .content-wrapper {
    width: 820px;
  }
}
/* Search Wrapper around the search input field */
#search-wrapper {
  background: rgba(255, 255, 255, 0.65);
  background-image: url('../search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 60px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#search-wrapper input {
  background: transparent;
  border: none;
  height: 60px;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  padding-left: 50px;
}
#search-wrapper input:focus {
  outline: none;
}
#search-wrapper input::-webkit-input-placeholder {
  color: #fff !important;
}
#search-wrapper input::-moz-input-placeholder {
  color: #fff !important;
}
#search-wrapper input::-ms-input-placeholder {
  color: #fff !important;
}
/* Search Choice - the result after pressing one of the search results */
#search-choice ul {
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#search-choice ul li {
  padding: 5px 20px;
  list-style: none;
  text-transform: capitalize;
}
#search-choice ul li:first-child {
  padding-top: 15px;
}
#search-choice ul li:last-child {
  padding-bottom: 15px;
}
/* Search Results - The list of pets benieth the search form */
#search-results {
  background: rgba(255, 255, 255, 0.4);
  margin-top: 20px;
}
#search-results ul {
  padding: 0;
  margin: 0;
}
#search-results ul li {
  position: relative;
  color: #ffffff;
  list-style: none;
}
#search-results ul li span.pet {
  display: block;
  padding: 15px 20px;
}
#search-results ul li span.search-date {
  float: right;
  margin-right: 50px;
  font-size: 13px;
}
#search-results ul li span.search-remove {
  content: '';
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: #db8937;
  width: 50px;
  height: 100%;
  opacity: 0.6;
}
#search-results ul li span.search-remove i {
  display: block;
  position: absolute;
  right: 17px;
  top: 16px;
  background: #fff;
  border-radius: 10px;
  padding: 2px 3px;
  font-size: 12px;
  color: #bd856b;
}
#search-results ul li:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#search-results ul li:hover span.search-remove {
  display: block;
}
#search-results ul li:hover span.search-remove:hover {
  opacity: 1;
}
/* Body settings */
body {
  font-family: 'Helvetica', Arial, sans-serif;
  background: #82482d;
  background: -moz-linear-gradient(top, #82482d 0%, #ee9739 100%);
  background: -webkit-linear-gradient(top, #82482d 0%, #ee9739 100%);
  background: linear-gradient(to bottom, #82482d 0%, #ee9739 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-top', endColorstr='@color-bottom', GradientType=0);
}
